body {
    background-color: #f5eee4;
}

body .back {
    width: 400px;
    height: 400px;
    position: relative;
    border-radius: 50%;
    border: 10px #016868 solid;
    background-color: #008b8b;
    margin: 10% auto;
    display: block;
}

body .back .cycle {
    border-radius: 50%;
    
}

body .back .dragon-box {
    position: absolute;
    left: 150px;
    top:25px;
}

body .back .dragon-body {
    background-color: #4f0a8f;
    position: absolute;
}

body .back .dragon-head {
    width: 118px;
    height: 122px;
    top: 84px;
    left: -9px;
}

body .back .upper-mandible {
    width: 80px;
    height: 50px;
    top: 170px;
    left: 10px;
}

body .back .lower-mandible {
    width: 80px;
    height: 83px;
    top: 190px;
    left: 10px;
}

body .back .lower-mandible .dragon-jaws {
    width: 66px;
    height: 60px;
    height: 60px;
    margin-left: 7px;
    background-color: #eb6c84;
}

body .back .nose {
    left: 0px;
    top: 182px;
    position: absolute;
}

body .back .nose .lower-nose {
    width: 50px;
    height: 43px;
    border-radius: 50%;
}

body .back .nose .nose-right {
    left: 45px;
}

body .back .nose .nose-left {
    left: 6px;
}

body .back .nose .real-nose{
    background-color: #242424;
    position: absolute;
    top: -5px;
    border-radius: 50%;
    width: 20px;
    height: 25px;
}

body .back .nose .real-nose-left {
    left: 25px;
    transform: rotate(-35deg);
}

body .back .nose .real-nose-right {
    left: 55px;
    transform: rotate(35deg);
}

body .back .nose .real-nose-center {
    left: 35px;
    width: 30px;
    height: 30px;
}

body .back .nose .real-nose .hole-nose {
    background-color: #9b9b91;
    width: 8px;
    height: 15px;
    position: absolute;
    top: 13px;
}

body .back .nose .real-nose-left .hole-nose {
   left: 1px;
    border-radius: 50% 50% 5% 50%;
    transform: rotate(13deg);
}
body .back .nose .real-nose-right .hole-nose {
   left: 11px;
    border-radius: 50% 50% 50% 5%;
    transform: rotate(-13deg);
}

body .back .nose .hider-nose {
    height: 30px;
    width: 35px;
    border-radius: 50%;
    left: 33px;
}

body .back .nose div:nth-child(1) {
    background: #390b64;
    top: -35px;
}

body .back .nose div:nth-child(2) {
    background: #4d1185;
     top: -26px;
}

body .back .nose div:nth-child(3) {
    background: #6617af;
     top: -17px;
}

body .back .teeths {
    position: absolute;
    top: 215px;
    left: 20px;
}

body .back .teeths .teeth {
    width: 0px;
    height: 0px;
    position: absolute;
}

body .back .teeths .upper-teeth {
    border-bottom: 30px solid transparent;
    border-right: 10px solid #ffffff;
    transform: skewX(-8deg);
}

body .back .teeths div:nth-child(2) {
    left: 45px;
}

body .back .teeths .lower-teeth {
    border-bottom: 30px solid #ffffff;
    border-right: 10px solid transparent;
    top: 15px;
    transform: skewX(-8deg);
}

body .back .teeths div:nth-child(3) {
    left: 16px;
}

body .back .teeths div:nth-child(4) {
    left: 40px;
}

body .back .teeths .dragon-beard-2-leyer div {
   position: absolute;
     border-top: 66px solid #3d0a6a;
    border-right: 32px solid transparent;
     transform: skewX(15deg);
}

body .back .teeths .dragon-beard-2-leyer div:nth-child(1) {
    top: 35px;
    left: 5px;
}

body .back .teeths .dragon-beard-2-leyer div:nth-child(2) {
    top: 35px;
    left: 40px;
}

body .back .teeths .dragon-beard-2-leyer div:nth-child(3) {
    top: 40px;
    left: 22px;
}

body .back .teeths .dragon-beard-1-leyer div {
   position: absolute;
     border-top: 45px solid #390b64;
    border-right: 17px solid transparent;
     transform: skewX(9deg);
}

body .back .teeths .dragon-beard-1-leyer div:nth-child(1) {
    top: 35px;
    left: -2px;
}

body .back .teeths .dragon-beard-1-leyer div:nth-child(2) {
    top: 35px;
    left: 56px;
     transform: skewX(19deg);
}

body .back .teeths .dragon-beard-1-leyer div:nth-child(3) {
    top:54px;
    left: 17px;
}

body .back .teeths .dragon-beard-1-leyer div:nth-child(4) {
    top:69px;
    left: 36px;
}

body .back .teeths .dragon-beard-3-leyer div {
   position: absolute;
     border-top: 30px solid #6617af;
    border-right: 7px solid transparent;
     transform: skewX(9deg);
}

body .back .teeths .dragon-beard-3-leyer div:nth-child(1) {
    top: 58px;
    left: 4px;
     transform: skewX(6deg);
}

body .back .teeths .dragon-beard-3-leyer div:nth-child(2) {
    top: 56px;
    left: 55px;
      transform: skewX(16deg);
}

body .back .teeths .dragon-beard-3-leyer div:nth-child(3) {
    top:77px;
    left: 24px;
     transform: skewX(4deg);
}

body .back .teeths .dragon-beard-3-leyer div:nth-child(4) {
    top:66px;
    left: 39px;
}

body .back .teeths .dragon-beard-4-leyer div {
   position: absolute;
     border-top: 35px solid #4f0a8f;
    border-right: 11px solid transparent;
     transform: skewX(9deg);
}

body .back .teeths .dragon-beard-4-leyer div:nth-child(1) {
    top: 30px;
    left: -6px;
     transform: skewX(4deg);
}

body .back .teeths .dragon-beard-4-leyer div:nth-child(2) {
    top: 35px;
    left: 5px;
}

body .back .teeths .dragon-beard-4-leyer div:nth-child(3) {
    top:35px;
    left: 13px;
    border-top: 57px solid #4f0a8f;
}

body .back .teeths .dragon-beard-4-leyer div:nth-child(4) {
    top:35px;
    left: 22px;
    border-top: 45px solid #4f0a8f;
}

body .back .teeths .dragon-beard-4-leyer div:nth-child(5) {
    top:35px;
    left: 32px;
}

body .back .teeths .dragon-beard-4-leyer div:nth-child(6) {
    top:35px;
    left: 41px;
    border-top: 47px solid #4f0a8f;
}

body .back .teeths .dragon-beard-4-leyer div:nth-child(7) {
    top:35px;
    left: 51px;
     border-top: 57px solid #4f0a8f;
}

body .back .teeths .dragon-beard-4-leyer div:nth-child(8) {
    top:32px;
    left: 61px;
     transform: skewX(19deg);
}

body .back .moustache .left-moustache div {
    height: 5px;
    background-color: #390b64;
    position: absolute;
     border-radius: 2px;
}

body .back .moustache .left-moustache div:nth-child(1) {
    width: 26px;
    top: 178px;
    left: 5px;
    transform: rotate(13deg);
}

body .back .moustache .left-moustache div:nth-child(2) {
    width: 10px;
    top: 175px;
    left: -2px;
    transform: rotate(-3deg);
}

body .back .moustache .left-moustache div:nth-child(3) {
    width: 12px;
    top: 177px;
    left: -11px;
    transform: rotate(-20deg);
}

body .back .moustache .left-moustache div:nth-child(4) {
    width: 12px;
    top: 182px;
    left: -19px;
    transform: rotate(-47deg);
}

body .back .moustache .left-moustache div:nth-child(5) {
    width: 9px;
    top: 188px;
    left: -24px;
    transform: rotate(-32deg);
}

body .back .moustache .left-moustache div:nth-child(6) {
    width: 14px;
    top: 191px;
    left: -35px;
    transform: rotate(-14deg);
}

body .back .moustache .left-moustache div:nth-child(7) {
    width: 14px;
    height: 4px;
    top: 192px;
    left: -46px;
    transform: rotate(8deg);
}

body .back .moustache .left-moustache div:nth-child(8) {
    width: 9px;
    height: 4px;
    top: 189px;
    left: -52px;
    transform: rotate(32deg);
}

body .back .moustache .left-moustache div:nth-child(9) {
    width: 17px;
    height: 4px;
    top: 181px;
    left: -63px;
    transform: rotate(55deg);
}

body .back .moustache .left-moustache div:nth-child(10) {
    width: 10px;
    height: 4px;
    top: 172px;
    left: -67px;
    transform: rotate(40deg);
}

body .back .moustache .left-moustache div:nth-child(11) {
    width: 9px;
    height: 3px;
    top: 169px;
    left: -73px;
    transform: rotate(22deg);
}

body .back .moustache .left-moustache div:nth-child(12) {
    width: 12px;
    height: 3px;
    top: 166px;
    left: -82px;
    transform: rotate(22deg);
}

body .back .moustache .left-moustache div:nth-child(13) {
    height: 0px;
    top: 147px;
    left: -99px;
    background-color: transparent;
     transform: skewX(59deg);
     border-top: 20px solid transparent;
    border-right: 6px solid #390b64;
    border-radius: 0px;
}

body .back .moustache .right-moustache div {
    height: 5px;
    background-color: #390b64;
    position: absolute;
    border-radius: 2px;
}

body .back .moustache .right-moustache div:nth-child(1) {
    width: 26px;
    top: 178px;
    left: 73px;
    transform: rotate(-7deg);
}

body .back .moustache .right-moustache div:nth-child(2) {
    width: 10px;
    top: 177px;
    left: 97px;
    transform: rotate(5deg);
}

body .back .moustache .right-moustache div:nth-child(3) {
    width: 12px;
    top: 180px;
    left: 104px;
    transform: rotate(25deg);
}

body .back .moustache .right-moustache div:nth-child(4) {
    width: 12px;
    top: 185px;
    left: 112px;
    transform: rotate(39deg);
}

body .back .moustache .right-moustache div:nth-child(5) {
    width: 13px;
    top: 190px;
    left: 120px;
    transform: rotate(20deg);
}

body .back .moustache .right-moustache div:nth-child(6) {
    width: 14px;
    top: 193px;
    left: 131px;
    transform: rotate(5deg);
}

body .back .moustache .right-moustache div:nth-child(7) {
    width: 14px;
    height: 4px;
    top: 193px;
    left: 142px;
    transform: rotate(-12deg);
}

body .back .moustache .right-moustache div:nth-child(8) {
    width: 12px;
    height: 4px;
    top: 190px;
    left: 153px;
    transform: rotate(-25deg);
}

body .back .moustache .right-moustache div:nth-child(9) {
    width: 17px;
    height: 4px;
    top: 184px;
    left: 160px;
    transform: rotate(-40deg);
}

body .back .moustache .right-moustache div:nth-child(10) {
    width: 12px;
    height: 4px;
    top: 177px;
    left: 172px;
    transform: rotate(-28deg);
}

body .back .moustache .right-moustache div:nth-child(11) {
    width: 8px;
    height: 3px;
    top: 175px;
    left: 181px;
    transform: rotate(-10deg);
}

body .back .moustache .right-moustache div:nth-child(12) {
    width: 10px;
    height: 3px;
    top: 173px;
    left: 188px;
    transform: rotate(-10deg);
}

body .back .moustache .right-moustache div:nth-child(13) {
    height: 0px;
    top: 159px;
    left: 209px;
    background-color: transparent;
     transform: skewX(-70deg);
     border-bottom: 16px solid #390b64;
    border-left: 11px solid transparent;
    border-radius: 0px;
}

body .back .ears .left-ear div:nth-child(1){
    width:34px;
    height: 49px;
    background-color: #4f0a8f;
    position: absolute;
    top: 106px;
    left: -28px;
    border-top-right-radius: 188%;
    border-bottom-left-radius: 97%;
    transform: skewX(20deg);
}

body .back .ears .left-ear div:nth-child(2){
    width:15px;
    height: 27px;
    background-color: #9b9b91;
    position: absolute;
    top: 118px;
    left: -25px;
    border-top-right-radius: 92%;
    border-bottom-left-radius: 97%;
    transform: skewX(8deg);
}

body .back .ears .right-ear div:nth-child(1) {
    width:34px;
    height: 49px;
    background-color: #4f0a8f;
    position: absolute;
    top: 106px;
    left: 93px;
    border-top-left-radius: 188%;
    border-bottom-right-radius: 97%;
    transform: skewX(-11deg);
}

body .back .ears .right-ear div:nth-child(2){
    width:15px;
    height: 27px;
    background-color: #9b9b91;
    position: absolute;
    top: 122px;
    left: 108px;
    border-top-left-radius: 92%;
    border-bottom-right-radius: 97%;
    transform: skewX(-6deg);
}

body .back .eyes .left-eye div:nth-child(1) {
    width:20px;
    height: 20px;
    background-color: #fff;
    position: absolute;
    top: 133px;
    left: 20px;
    border-top-right-radius: 112%;
    border-bottom-left-radius: 97%;
}

body .back .eyes .left-eye div:nth-child(2){
    width:5px;
    height: 5px;
    background-color: #000;
    position: absolute;
    top: 143px;
    left: 25px;
    border-radius: 50%;
}

body .back .eyes .left-eyebrows div, body .back .eyes .right-eyebrows div{
    background-color: #390b64;
    position: absolute;
    width: 15px;
    height: 20px;
}

body .back .eyes .left-eyebrows div:nth-child(1) {
    height: 14px;
    top: 138px;
    left: 36px;
    border-top-right-radius: 40%;
    transform: skewX(59deg);
}


body .back .eyes .left-eyebrows div:nth-child(2) {
    top: 129px;
    left: 36px;
    border-top-right-radius: 50%;
    transform: skewX(26deg);
}

body .back .eyes .left-eyebrows div:nth-child(3) {
    top: 114px;
    left: 13px;
    border-top-right-radius: 50%;
    transform: skewX(51deg);
}

body .back .eyes .left-eyebrows div:nth-child(4) {
    top: 107px;
    left: 10px;
    border-top-right-radius: 100%;
    transform: skewX(46deg);
}

body .back .eyes .left-eyebrows div:nth-child(5) {
    width: 10px;
    height: 32px;
    top: 107px;
    left: 24px;
    border-top-right-radius: 100%;
    transform: skewX(35deg);
}

body .back .eyes .left-eyebrows div:nth-child(6) {
    width: 10px;
    height: 17px;
    top: 128px;
    left: 26px;
    border-top-right-radius: 80%;
    transform: skewX(58deg);
}


body .back .eyes .right-eye div:nth-child(1) {
    width:20px;
    height: 20px;
    background-color: #fff;
    position: absolute;
    top: 134px;
    left: 65px;
    border-top-left-radius: 112%;
    border-bottom-right-radius: 97%;
    transform: skewX(-7deg);
}

body .back .eyes .right-eye div:nth-child(2){
    width:5px;
    height: 5px;
    background-color: #000;
    position: absolute;
    top: 145px;
    left: 72px;
    border-radius: 50%;
}

body .back .eyes .right-eyebrows div:nth-child(1) {
    height: 14px;
    top: 138px;
    left: 55px;
    border-top-left-radius: 40%;
    transform: skewX(-48deg);
}


body .back .eyes .right-eyebrows div:nth-child(2) {
    top: 130px;
    left: 53px;
    border-top-left-radius: 50%;
    transform: skewX(-27deg);
}

body .back .eyes .right-eyebrows div:nth-child(3) {
    top: 114px;
    left: 76px;
    border-top-left-radius: 100%;
    transform: skewX(-51deg);
}

body .back .eyes .right-eyebrows div:nth-child(4) {
    top: 109px;
    left: 78px;
    border-top-left-radius: 148%;
    transform: skewX(-36deg);
}

body .back .eyes .right-eyebrows div:nth-child(5) {
    width: 9px;
    height: 32px;
    top: 106px;
    left: 72px;
    border-top-left-radius: 114%;
    transform: skewX(-35deg);
}

body .back .eyes .right-eyebrows div:nth-child(6) {
    width: 10px;
    height: 17px;
    top: 128px;
    left: 67px;
    border-top-left-radius: 80%;
    transform: skewX(-58deg);
}

body .back .hair-1 div {
    background-color: #390b64;
    height: 22px;
    width: 68px;
    position: absolute;
}

body .back .hair-1 div:nth-child(1) {
    top:137px;
    left: -28px;
    transform: skewX(62deg);
    border-top-right-radius: 100%;
}

body .back .hair-1 div:nth-child(2) {
    top:124px;
    left: -32px;
    transform: skewX(70deg);
    border-top-right-radius: 100%;
}

body .back .hair-1 div:nth-child(3) {
    top:114px;
    left: -35px;
    transform: skewX(50deg);
    border-top-right-radius: 100%;
}

body .back .hair-1 div:nth-child(4) {
    top:100px;
    left: -39px;
    transform: skewX(31deg);
    border-top-right-radius: 100%;
}

body .back .hair-1 div:nth-child(5) {
    top:90px;
    left: -26px;
    transform: skewX(70deg);
    border-top-right-radius: 100%;
}

body .back .hair-1 div:nth-child(6) {
    top:94px;
    left: -34px;
    transform: skewY(39deg);
    border-bottom-left-radius: 100%;
}

body .back .hair-1 div:nth-child(7) {
    top:92px;
    left: -39px;
    transform: skewY(20deg);
    border-bottom-left-radius: 100%;
    height: 10px;
}

body .back .hair-1 div:nth-child(8) {
    top:82px;
    left: -34px;
    transform: skewY(46deg);
    border-bottom-left-radius: 100%;
}

body .back .hair-1 div:nth-child(9) {
    top:88px;
    left: -22px;
    transform: skewY(51deg);
    border-bottom-left-radius: 100%;
}

body .back .hair-1 div:nth-child(10) {
    top:60px;
    left: -12px;
    transform: skewY(46deg);
    border-bottom-left-radius: 100%;
}

body .back .hair-1 div:nth-child(11) {
    top:29px;
    left: 19px;
    transform: skewY(23deg);
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    width: 4px;
    height: 71px;
}

body .back .hair-1 div:nth-child(12) {
    top:35px;
    left: 2px;
    transform: skewY(52deg);
    border-top-right-radius: 100%;
    width: 13px;
    height: 71px;
}

body .back .hair-1 div:nth-child(13) {
    top:76px;
    left: -18px;
    transform: skewY(58deg);
    border-bottom-left-radius: 100%;
}

body .back .hair-1 div:nth-child(14) {
    top:79px;
    left:-12px;
    transform: skewY(41deg);
}

body .back .hair-1 div:nth-child(15) {
    top:84px;
    left:9px;
    transform: skewY(58deg);
}

body .back .hair-1 div:nth-child(16) {
    top:67px;
    left:-13px;
    transform: skewY(-56deg);
    width: 50px;
}

body .back .hair-1 div:nth-child(17) {
    top:38px;
    left:18px;
    transform: skewY(-69deg);
    width: 10px;
}

body .back .hair-1 div:nth-child(18) {
    top:47px;
    left:26px;
    transform: skewY(-69deg);
    width: 19px;
    height: 51px;
    border-bottom-right-radius: 82%;
}

body .back .hair-1 div:nth-child(19) {
    top:68px;
    left:49px;
    transform: skewY(-102deg);
    width: 19px;
    height: 51px;
}

body .back .hair-1 div:nth-child(20) {
    top:54px;
    left:40px;
    transform: skewY(-72deg);
    width: 19px;
    height: 51px;
}

body .back .hair-1 div:nth-child(21) {
    top:48px;
    left:33px;
    transform: skewY(-52deg);
    width: 33px;
    border-bottom-right-radius: 70%;
}

body .back .hair-1 div:nth-child(22) {
    top:45px;
    left:35px;
    transform: rotate(56deg);
    width: 16px;
}

body .back .hair-1 div:nth-child(23) {
    top:54px;
    left:29px;
    transform: rotate(120deg);
    width: 80px;
    height: 14px;
    border-bottom-left-radius: 97%;
}

body .back .hair-1 div:nth-child(24) {
    top:34px;
    left:58px;
    transform: skew(164deg);
    width: 11px;
    height: 37px;
    border-top-left-radius: 97%;
}

body .back .hair-1 div:nth-child(25) {
    top:55px;
    left:57px;
    transform: skew(121deg);
    width: 21px;
    height: 44px;
    border-top-left-radius: 107%;
}

body .back .hair-1 div:nth-child(26) {
    top:37px;
    left:85px;
    transform: skew(150deg);
    width: 10px;
    height: 57px;
    border-top-left-radius: 107%;
}

body .back .hair-1 div:nth-child(27) {
    top:60px;
    left:60px;
    transform: skew(133deg);
    width: 37px;
    height: 32px;
}

body .back .hair-1 div:nth-child(28) {
    top:65px;
    left:65px;
    transform: skew(123deg);
    width: 52px;
    height: 31px;
    border-top-left-radius: 107%;
}

body .back .hair-1 div:nth-child(29) {
    top:41px;
    left:48px;
    transform: skew(-50deg);
    width: 26px;
    height: 78px;
    border-top-left-radius: 110%;
}

body .back .hair-1 div:nth-child(30) {
    top:51px;
    left:73px;
    transform: rotate(65deg);
    width: 22px;
}

body .back .hair-1 div:nth-child(31) {
    top:53px;
    left:86px;
    transform: skew(-54deg);
    width: 14px;
    height: 54px;
    border-top-left-radius: 110%;
}

body .back .hair-1 div:nth-child(32) {
    top:74px;
    left:100px;
    transform: skew(-67deg, 8deg);
    width: 22px;
}

body .back .hair-1 div:nth-child(33) {
    top:81px;
    left:89px;
    transform: skew(-70deg);
    width: 41px;
    height: 19px;
    border-top-left-radius: 110%;
}

body .back .hair-1 div:nth-child(34) {
    top:97px;
    left:110px;
    transform: skew(-67deg, 8deg);
    width: 22px;
}

body .back .hair-1 div:nth-child(35) {
    top:83px;
    left:84px;
    transform: skew(-70deg);
    width: 45px;
    height: 34px;
    border-top-left-radius: 110%;
}

body .back .hair-1 div:nth-child(36) {
    top:113px;
    left:92px;
    transform: skew(-71deg, 28deg);
    width: 22px;
}

body .back .hair-1 div:nth-child(37) {
    top:113px;
    left:79px;
    transform: skew(-113deg);
    width: 41px;
    height: 19px;
    border-top-left-radius: 110%;
}

body .back .hair-2 div {
    background-color: #4f0a8f;
    height: 22px;
    width: 22px;
    position: absolute;
    transform: skew(21deg, 32deg);
}

body .back .hair-2 div:nth-child(1) {
    top:106px;
    left:-12px;
    rotate: -10deg;
}

body .back .hair-2 div:nth-child(2) {
    top:93px;
    left:-9px;
    rotate: -27deg;
}

body .back .hair-2 div:nth-child(3) {
    top:89px;
    left:0px;
    rotate: -10deg;
}

body .back .hair-2 div:nth-child(4) {
    top:79px;
    left:2px;
    rotate: 3deg;
}

body .back .hair-2 div:nth-child(5) {
    top:69px;
    left:8px;
    rotate: 2deg;
}

body .back .hair-2 div:nth-child(6) {
    top:66px;
    left:13px;
    rotate: 26deg;
}

body .back .hair-2 div:nth-child(7) {
    top:68px;
    left:22px;
    rotate: 28deg;
}

body .back .hair-2 div:nth-child(8) {
    top:69px;
    left:34px;
    rotate: 18deg;
}

body .back .hair-2 div:nth-child(9) {
    top:69px;
    left:8px;
    rotate: 2deg;
}

body .back .hair-2 div:nth-child(10) {
    top:66px;
    left:38px;
    rotate: 44deg;
}

body .back .hair-2 div:nth-child(11) {
    top:68px;
    left:50px;
    rotate: 28deg;
}

body .back .hair-2 div:nth-child(12) {
    top:69px;
    left:55px;
    rotate: 47deg;
}

body .back .hair-2 div:nth-child(13) {
    top:75px;
    left:61px;
    rotate: 55deg;
}

body .back .hair-2 div:nth-child(14) {
    top:80px;
    left:68px;
    rotate: 66deg;
}

body .back .hair-2 div:nth-child(15) {
    top:85px;
    left:80px;
    rotate: 47deg;
}

body .back .hair-2 div:nth-child(16) {
    top:91px;
    left:86px;
    rotate: 58deg;
}

body .back .hair-2 div:nth-child(17) {
    top:113px;
    left:96px;
    rotate: 66deg;
}

body .back .hair-2 div:nth-child(18) {
    top:100px;
    left:92px;
    rotate: 67deg;
}